@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply tracking-tight px-4 py-2   rounded-lg items-center font-medium inline-flex justify-center;
  }
  .btn-primary {
    @apply bg-black text-white;
  }
  .btn-text {
    @apply text-black bg-transparent;
  }
  .logo-tickers-image {
    @apply h-8 w-auto;
  }
  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tighter;
  }
  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }
  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
  }
}
